<?xml version="1.0" encoding="UTF-8"?>
<EmailTemplate xmlns="http://soap.sforce.com/2006/04/metadata">
    <available>true</available>
    <description>New Email Template setup in June 2012</description>
    <encodingKey>ISO-8859-1</encodingKey>
    <letterhead>Master</letterhead>
    <name>Spring Term 2014 Invoicing Reminder</name>
    <style>freeForm</style>
    <subject>Spring Term 2014 Invoicing</subject>
    <textOnly>The International School
of Moscow
Part of The British Schools Group


Dear Parents



Yesterday you should&apos;ve received the Spring Term 2014 invoice in your child&apos;s blue folder. If you have not received the invoice, please contact me at isminvoicing@britishschools.co.uk.



Please, note that Spring Term fees must be paid by December 15, 2013.

If you have any questions or need any assistance, please contact me directly at isminvoicing@britishschools.co.uk



Thank you and kind regards,



Marina Urmanova

Invoicing Manager

The International School of Moscow
World Class Education

__________________________________________________________
Member of The British School Group- University of Cambridge Examination Centre  - Affiliate Member of the Conference of British International Schools - Licensed by the Russian Ministry of Education</textOnly>
    <type>html</type>
    <uiType>Aloha</uiType>
</EmailTemplate>
